body{
	margin: 4%;
	background-color: azure;
	font-size: 15pt;
}

.winner {
	color:green;
	line-height: 30px;
	font-size: 50pt;
	margin: 0 ;
	padding: 0;
}

button,input{
	border: 1px black solid;
	font-size: 1.1em;
}

#cheer{
	padding-top: 20px;
	display: none;
}
footer {
	text-align: center;
	width: 100%;
	padding-bottom: 10px;
	/* position: absolute;
	bottom: 10px; */
}

.footer-title{
	margin-bottom: 10px;
}

.social-img{
	height: 50px;
	margin: 3px;
}

/* MOBILE */
@media all and (max-width: 720px) {
	.footer-title{
		font-size: 0.9rem;
		margin-bottom: 5px;
	}

	.social-img{
		height: 35px;
		margin-bottom: 10px;
	}
}
