body{
	margin: 4%;
	background-color: azure;
	font-size: 15pt;
}

.winner {
	color:green;
	line-height: 30px;
	font-size: 50pt;
	margin: 0 ;
	padding: 0;
}

button,input{
	border: 1px black solid;
	font-size: 1.1em;
}

#cheer{
	padding-top: 20px;
	display: none;
}
